<!DOCTYPE html>
<html>
<head>
    <title>Service Finder</title>
    <link rel="stylesheet" th:href="@{/ClientHomePage.css}">
</head>
<body><>
    <header>
 <nav>
    <div>
<p>Service Finder</p>
    </div>
    <ul>
        <li><a href="/Home">Home</a></li>
        <li><a href="/selection.html">Book Service</a></li>
        <li><a href="/Contactus.html">Contact us</a></li>
         <li><a href="/adv.mp4">About Us</a></li>
        <li><a href="/">Sign Out</a></li>
    </ul>
 </nav>
 </header>
 <br>
 <div class="container">
                
    <div class="text">                  
        <h1>Your Reliable Partner for Every Home Project</h1>
        <br>
        <p>From emergency repairs to planned renovations, Service Finder connects 
        you with the highest-rated professionals in your area. Whether it's 
        plumbing, electrical work, or a fresh coat of paint, we ensure your 
        home is in expert hands. Quality service is just a click away.</p>

    </div>
    <div class="image">
<img src="/ClientHomePage image.png">
    </div>
 </div>

 <center> 
<h2>Our Services</h2>
<section class="services-section">
    <div class="services-container">

        <div class="card">
            <a href="/selection.html"> <img src="/Electrician.jpg"></a>
            <h3>Electrician</h3>
            <p>Safe wiring, panel upgrades, and troubleshooting.</p>
        </div>


        <div class="card">
             <a href="/selection.html"> <img src="/Carpenter.jpg" ></a>
            <h3>Carpenter</h3>
            <p>Custom woodworking, repairs, and installations.</p>
        </div>

        <div class="card">
            <a href="/selection.html"><img src="/Plumber.jpg"></a>
            <h3>Plumber</h3>
            <p>Last fixes for leaks, pipe installations, and fixture upgrades.</p>
        </div>
        
        <div class="card">
           <a href="/selection.html"> <img src="/Mechanic.jpg"></a>
            <h3>Mechanic</h3>
            <p>Expert engine repairs, diagnostics, and routine maintenance for all vehicles.</p>
        </div>
        
    </div>
</section>










 </center>



 
    








</body>
















</html>
